.Questions {
  padding-top: 10px;
  .rateInfo {
    display: inline-block;
    padding: 10px;
  }

  .rateInfo {
    @media (min-width: 600px) {
      width: 190px;
    }
    @media (max-width: 600px) {
      width: 90px;
    }
  }

  input[type="number"] {
    margin-left: 5px;
  }
  input[type="radio"] {
    margin-right: 5px;
  }

  .req {
    color: red;
  }

  hr {
    width: 300px;
    margin: auto;
  }
}